// body

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $darkBlue;
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  color: black;
  margin-top: -4px;
  background-color: $darkBlue;
  animation: bodyFadeIn .3s ease-out both;

  p {
    line-height: 1.45;
  }

  @keyframes bodyFadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
