@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
meta[name='viewport']::before {
  content: 'phone'; }

/* fontface */
/* reset */
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border-radius: 0;
  border: none;
  outline: none;
  background: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-after: 0; }

*::before,
*::after {
  box-sizing: inherit; }

*:active,
*:hover {
  outline: 0; }

html {
  box-sizing: border-box;
  font-size: 100%; }

body {
  position: relative;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

b, i, em, strong,
h1, h2, h3, h4, h5, h6,
th, td, pre, ins, del, address,
input, select, button, textarea {
  text-transform: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  letter-spacing: inherit; }

a, ins, del, button {
  color: inherit;
  text-decoration: none; }

ul, ol,
menu {
  list-style: none; }

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0; }

pre,
textarea {
  overflow: auto;
  max-width: 100%; }

img {
  display: inline-block;
  line-height: 0; }

svg:not(:root) {
  overflow: hidden; }

form {
  width: 100%; }

button {
  cursor: pointer;
  overflow: visible; }

textarea {
  resize: none; }

::moz-focus-inner {
  padding: 0;
  border: none; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #061123; }

body {
  font-family: 'Roboto', Arial, sans-serif;
  color: black;
  margin-top: -4px;
  background-color: #061123;
  -webkit-animation: bodyFadeIn .3s ease-out both;
          animation: bodyFadeIn .3s ease-out both; }
  body p {
    line-height: 1.45; }

@-webkit-keyframes bodyFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes bodyFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.page {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 40%); }
  .page__mainTitle {
    text-transform: uppercase;
    color: white;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    font-size: 2em;
    font-weight: 300;
    text-align: center; }
  .page__content {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 500px;
    -webkit-animation: contentSlideIn .3s ease-out both;
            animation: contentSlideIn .3s ease-out both; }

@-webkit-keyframes contentSlideIn {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes contentSlideIn {
  from {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }
  .page__avatar {
    height: auto;
    width: 150px;
    border-radius: 100px;
    margin: 10px auto;
    display: block;
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1); }
  .page__quote {
    font-style: italic;
    border-left: 1px solid #4286f4;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 5px;
    margin: 20px auto;
    display: inline-block; }
  .page h2 {
    color: white;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 300;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 5px; }
    .page h2:first-letter {
      font-weight: 400; }
  .page p {
    color: #4286f4;
    text-align: left;
    margin: 10px auto; }
    .page p + p {
      margin-top: 30px; }
  .page__textLight {
    color: #ededed; }
  .page__gradientText {
    background: linear-gradient(45deg, #4286f4, #5dd8f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .page__language {
    text-align: center !important; }
    .page__language small {
      color: white;
      text-align: center; }
    @media only screen and (min-width: 46em){
  meta[name='viewport']::before{
    content: 'tablet'; } }
    @media only screen and (min-width: 64.0625em){
  meta[name='viewport']::before{
    content: 'desktop'; } }
    @media only screen and (min-width: 100em){
  meta[name='viewport']::before{
    content: 'monitor'; } }
    @media only screen and (max-width: 64em){
  .page{
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .page__content{
    background: none;
    border: none; } }
