.page {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5) 0%, transparent 40%);

  @media (--mobile) {
    align-items: flex-start;
  }

  &__mainTitle {
    text-transform: uppercase;
    color: white;
    width: 100%;
    display: block;
    margin-bottom: 30px;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
  }

  &__content {
    background-color: rgba(0,0,0,0.1);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    text-align: center;
    max-width: 500px;
    animation: contentSlideIn .3s ease-out both;

    @media (--mobile) {
      background: none;
      border: none;
    }

    @keyframes contentSlideIn {
      from {
        transform: translateY(30px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }



  }

  &__avatar {
    height: auto;
    width: 150px;
    border-radius: 100px;
    margin: 10px auto;
    display: block;
    filter: brightness(1.1);
  }

  &__quote {
    font-style: italic;
    border-left: 1px solid $blue;
    color: rgba(255,255,255,0.5);
    padding-left: 5px;
    margin: 20px auto;
    display: inline-block;
  }

  h2 {
    color: white;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 300;
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 5px;

    &:first-letter {
      font-weight: 400;
    }
  }

  p {
    color: $blue;
    text-align: left;
    margin: 10px auto;

    &+p {
      margin-top: 30px;
    }
  }

  &__textLight  {
    color: $lightGray;
  }

  &__gradientText {
    background: linear-gradient(45deg, $blue, $lightBlue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__language {
    text-align: center !important;
    small {
      color: white;
      text-align: center;
    }
  }
}
